<div id="comebackhome-container">
  <div id="comebackhome-header" class="comebackhome-header">
    <div class="comebackhome-pulluptab">▲ Help find missing people</div>
    <div id="comebackhome-title" class="comebackhome-title comebackhome-title-throb">404 Person Not Found</div>
  </div>
  <div id="comebackhome-panel">
    <ul id="comebackhome-results">
      {{~data :item}}
      <li class="comebackhome-person-frame">
        <a onclick="ga('send', 'event', 'link', 'click', 'person')" href="{{= item.url}}" target="_blank">
          <div class="comebackhome-person-column">
            <img class="comebackhome-person-picture"
              src="https://res.cloudinary.com/comebackhome/image/fetch/w_150,h_150,c_fill,f_auto,g_face:center,e_grayscale/{{= item.thumbnail_url }}"
              alt={{= item.display_name }}
            >
          </div>
          <div class="comebackhome-person-column comebackhome-person-info">
            <div class="comebackhome-person-name">{{= item.display_name }}</div>
            <div class="comebackhome-person-location">{{= item.display_location }}</div>
            <div class="comebackhome-person-extra">
              Missing since {{= new Date(item.since).toLocaleDateString() }}
              {{? item.age_now }}
                <br>
                Age now: {{= item.age_now }}
              {{?}}
            </div>
          </div>
        </a>
      </li>
      {{~}}
    </ul>
    <p class="comebackhome-poweredby">
      Powered by <a target="_blank" href="https://comebackhome.org/">comebackhome.org</a>
    </p>
  </div>
</div>
