{{~data :item}}
<li>
  <div class="comebackhome-person-frame">
    <div class="comebackhome-person-col">
      <img class="comebackhome-person-picture" src="{{= item.thumbnail_url }}" alt="{{= item.name }}">
    </div>
    <div class="comebackhome-person-col">
      <div class="comebackhome-person-name">{{= item.name }}</div>
      <div class="comebackhome-person-location">{{= item.city }}, {{= item.country }}</div>
      <div class="comebackhome-person-extra">
        Missing since: {{= new Date(item.since).toDateString() }}<br>
        Age now: 6 years
      </div>
    </div>
  </div>
</li>
{{~}}
