$image-size = 150px

$primary-color = #428BCA
$background-color = #FFFFFF
$header-text-color = #EEE
$body-text-color = #666
$description-text-color = #999

text-size($size)
  font-size $size
  line-height 1.2 * $size

#comebackhome-container
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  width 100%
  max-height 100%
  position fixed
  bottom 0
  left 0
  background-color $background-color
  z-index 100000

.comebackhome-header
  padding 15px
  color $header-text-color
  background-color $primary-color
  cursor pointer

  .comebackhome-title
    text-size(16px)

  .comebackhome-subheading
    text-size(14px)
    float right

  .comebackhome-pulluptab
    position absolute
    top -30px
    color $header-text-color
    background-color $primary-color
    right 10px
    border-radius 10px
    padding 10px

  @keyframes fade
    from
      opacity 1.0
    50%
      opacity 0.2
    to
      opacity 1.0

  .comebackhome-title-throb
    animation fade 3s infinite

#comebackhome-panel
  display none

  .comebackhome-poweredby
    float right
    padding-right 10px
    text-size(12px)

.comebackhome-show
  display block !important

#comebackhome-results
  overflow hidden
  list-style-type none
  margin-left auto
  margin-right auto
  margin-bottom 0
  margin-top 0
  padding 0

.comebackhome-person-frame
  vertical-align middle
  width 400px
  float left

.comebackhome-person-name
  margin-top 15%
  color $primary-color
  text-size(16px)

.comebackhome-person-location
  color $body-text-color
  text-size(14px)

.comebackhome-person-extra
  margin-top 30px
  color $description-text-color
  text-size(12px)

.comebackhome-person-picture
  display block
  margin 10px auto
  width 100%
  max-width $image-size
  max-height $image-size
  border-radius 50%

.comebackhome-person-column
  position relative
  float left
  text-align left

.comebackhome-person-info
  padding-right 10px
  padding-left 10px
  width 250px
