$column-width = 150px
$margin = 10px
$image-size = $column-width
$item-width = $column-width * 2 + $margin
$item-height = $column-width

$primary-color = #428BCA
$background-color = #FFFFFF
$header-text-color = #EEE
$body-text-color = #666
$description-text-color = #999

text-size($size)
  font-size $size
  line-height 1.2 * $size

$title-text
  text-size(16px)

$subhead-text
  text-size(14px)

$body-text
  text-size(12px)

#comebackhome-container
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  width 100%
  max-height 100%
  position fixed
  bottom 0
  left 0
  background-color $background-color
  z-index 100000

.comebackhome-header
  padding $margin
  color $header-text-color
  background-color $primary-color
  cursor pointer

  .comebackhome-title
    @extend $title-text

  .comebackhome-subheading
    @extend $subhead-text
    float right

  .comebackhome-pulluptab
    position absolute
    top -40px
    color $header-text-color
    background-color $primary-color
    right $margin
    // border-top-left-radius $margin
    border-radius $margin $margin 0 0
    padding $margin

  @keyframes fade
    from
      opacity 1.0
    50%
      opacity 0.2
    to
      opacity 1.0

  .comebackhome-title-throb
    animation fade 3s infinite

#comebackhome-panel
  display none
  padding-top $margin

  .comebackhome-poweredby
    float right
    padding-right $margin
    @extend $body-text

.comebackhome-show
  display block !important

#comebackhome-results
  overflow hidden
  margin 0
  padding-left 0
  list-style-type none
  margin 0 auto

.comebackhome-person-frame
  width $item-width
  height $item-height
  float left
  margin $margin 0

.comebackhome-person-name
  margin-top 15%
  color $primary-color
  @extend $title-text

.comebackhome-person-location
  color $body-text-color
  @extend $subhead-text

.comebackhome-person-extra
  margin-top 15%
  color $description-text-color
  @extend $body-text

.comebackhome-person-picture
  display block
  margin 0 auto
  width 100%
  max-width $image-size
  max-height $image-size
  border-radius 50%

.comebackhome-person-column
  width $column-width
  margin-right $margin
  position relative
  float left
  text-align left
  &:last-of-type
    margin-right 0
