// #person_found_panel
//   padding 20px
//   h1
//     line-height 1.2
//     font-size 2.5em
//     font-family "Proxima Nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
//     color #222222
//   p
//     font-size 1.2em
//     font-family "Proxima Nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
//     color #222222

// .pulsating
//   -webkit-animation color_change 2s infinite alternate
//   -moz-animation color_change 2s infinite alternate
//   -ms-animation color_change 2s infinite alternate
//   -o-animation color_change 2s infinite alternate
//   animation color_change 2s infinite alternate

// @-webkit-keyframes
//   color_change
//     from {color gray

// to
//   color greenyellow
//   color greenyellow
//   color greenyellow
//   color greenyellow
//   color greenyellow
//   opacity 1
//   opacity 1
//   opacity 1
//   opacity 1

// }
//   @-moz-keyframes
//     color_change
//       from {color gray
//     fadein
//       from {
//         opacity 0
//   @-ms-keyframes
//     color_change
//       from {color gray
//   @-o-keyframes
//     color_change
//       from {color gray
//     fadein
//       from {
//         opacity 0
//   @keyframes
//     color_change
//       from {color gray
//   ul
//     &.polaroids
//       li
//         display inline
//   @-webkit-keyframes
//     fadein
//       from {
//         opacity 0
//   #person_found_frame
//     width 90%
//     position absolute
//     bottom 0
//     background #251b15
//     border-top-left-radius 5px
//     border-top-right-radius 5px

// ul
//   &.polaroids
//     a
//       background #CCCCCC
//       display inline
//       float left
//       margin 0 0 27px 30px
//       width auto
//       padding 10px 10px 15px
//       text-align center
//       font-family "Marker Felt", sans-serif
//       text-decoration none
//       color #333
//       font-size 18px
//       text-transform capitalize
//       -webkit-box-shadow 0 3px 6px rgba(0,0,0,.25)
//       -moz-box-shadow 0 3px 6px rgba(0,0,0,.25)
//       -webkit-transform rotate(-2deg)
//       -webkit-transition -webkit-transform .15s linear
//       -moz-transform rotate(-2deg)
//       &:after
//         content attr(title)
//     li
//       padding-left 0
//       &:nth-child(even)
//         a
//           -webkit-transform rotate(2deg)
//           -moz-transform rotate(2deg)
//       &:nth-child(3n)
//         a
//           -webkit-transform none
//           position relative
//           top -5px
//           -moz-transform none
//         img
//           animation fadein 5s
//           -moz-animation fadein 5s
//           -webkit-animation fadein 5s
//           -o-animation fadein 5s
//       &:nth-child(5n)
//         a
//           -webkit-transform rotate(5deg)
//           position relative
//           right 5px
//           -moz-transform rotate(5deg)
//         img
//           animation fadein 9s
//           -moz-animation fadein 9s
//           -webkit-animation fadein 9s
//           -o-animation fadein 9s
//       &:nth-child(8n)
//         a
//           position relative
//           right 5px
//           top 8px
//       &:nth-child(11n)
//         a
//           position relative
//           left -5px
//           top 3px
//       &.messy
//         a
//           margin-top -100px
//           position relative
//           left 60px
//       a
//         &:hover
//           -webkit-transform scale(1.25)
//           -moz-transform scale(1.25)
//           -webkit-box-shadow 0 3px 6px rgba(0,0,0,.5)
//           -moz-box-shadow 0 3px 6px rgba(0,0,0,.5)
//           position relative
//           z-index 5
//       &:nth-child(2n)
//         img
//           animation fadein 11s
//           -moz-animation fadein 11s
//           -webkit-animation fadein 11s
//           -o-animation fadein 11s
//       &:nth-child(7n)
//         img
//           animation fadein 7s
//           -moz-animation fadein 7s
//           -webkit-animation fadein 7s
//           -o-animation fadein 7s
//     img
//       display block
//       width 120px
//       height 150px
//       margin-bottom 12px
//       margin-right auto
//       margin-left auto

// @keyframes
//   fadein
//     from {
//         opacity 0

// #person_found_title
//   padding 10px
//   font-family 'Roboto Condensed', sans-serif

// #person_found_desc
//   padding-right 10px
//   color #AAAAAA
//   font-family 'Roboto Condensed', sans-serif
//   float right

// ##person_found_panel
//   display none
//   padding 10px
//   h1
//     padding-left 70px
//     color #EEEEEE
//     font-size 24px
//     font-family 'Roboto Condensed', serif

